:root {
  --background-color: #f8f6fe;
  --shecodes-color: #885df1;
  --paragraph-color: rgba(39, 33, 66, 0.4);
  --strongParagraph-color: #f65282;
  --lightGray-color: rgba(0, 0, 0, 0.6);
  --box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

body {
  background-color: var(--background-color);
}

form {
  border-bottom: 1px solid #f8f6fe;
  padding: 0 0 30px 0;
}

main {
  padding: 30px 0;
  padding-left: 5px;
}

p {
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: 24px;
}

p strong {
  color: var(--strongParagraph-color);
}

footer {
  border-top: 1px solid var(--background-color);
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: var(--lightGray-color);
}

footer a {
  color: var(--shecodes-color);
}

.App {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 45px auto;
  max-width: 700px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  /* text-align: center; */
}

.logo {
  display: block;
  max-width: 150px;
}

.searchBox {
  background-color: var(--background-color);
  border: none;
  border-radius: 6px;
  margin-right: 8px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  color: var(--lightGray-color);
}

.searchButton {
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  margin-left: 3px;
  background-color: var(--shecodes-color);
  color: #fff;
  transition: all 150ms ease-in-out;
}

.searchButton:hover {
  cursor: pointer;
}

.weatherCity {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weatherTempContainer {
  display: flex;
}

.icon {
  width: 30px;
  height: 88px;
  margin-left: 240px;
}

.currentTemp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.unit {
  margin-top: 6px;
  font-size: 28px;
}

@media (max-width: 900px) {
  .App {
    margin: 25px auto;
  }
  .searchBox {
    border-radius: 6px;
    margin-right: 8px;
    width: 50%;
    font-size: 14px;
    padding: 15px 20px;
  }

  .searchButton {
    font-size: 14px;
    padding: 15px 20px;
    margin-left: 3px;
  }

  .weatherCity {
    font-size: 36px;
  }

  .icon {
    margin-left: 190px;
  }

  .currentTemp {
    font-size: 70px;
  }
}
